@import './colors.scss';

div.skeleton {
  padding: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 4fr));
  div {
    padding: 20px;
  }
}

div.input-app {
  display: flex;
  justify-content: end;
  padding-right: 150px;
  div.MuiInputBase-formControl {
    border-radius: 40px;
    padding-right: 21px !important;
  }
  .css-f6v4u4-MuiInputBase-root-MuiFilledInput-root:before,
  .css-f6v4u4-MuiInputBase-root-MuiFilledInput-root:hover:not(.Mui-disabled):before {
    border-bottom: none;
  }

  .css-f6v4u4-MuiInputBase-root-MuiFilledInput-root:after {
    border-bottom: none;
  }

  .css-1gctnaj-MuiInputBase-input-MuiFilledInput-input {
    padding-top: 11px;
  }

  button.MuiIconButton-edgeEnd {
    background-color: $color-second;
    margin-left: -10px;
    padding: 4px;
    svg {
      font-size: 22px;
      color: $color-third;
    }
  }
}

div.input-form {
  div.css-r47a1p-MuiFormControl-root,
  .css-e363es-MuiFormControl-root {
    width: 100% !important;
    margin: 0px;
    margin-bottom: 10px;
  }
  div.MuiInputBase-formControl {
    border-radius: 40px;
    padding-right: 21px !important;
  }
  .css-f6v4u4-MuiInputBase-root-MuiFilledInput-root:before,
  .css-f6v4u4-MuiInputBase-root-MuiFilledInput-root:hover:not(.Mui-disabled):before,
  .css-cio0x1-MuiInputBase-root-MuiFilledInput-root:before,
  .css-cio0x1-MuiInputBase-root-MuiFilledInput-root:hover:not(.Mui-disabled):before,
  .css-cio0x1-MuiInputBase-root-MuiFilledInput-root:after,
  .css-10i04qz-MuiInputBase-root-MuiFilledInput-root:before,
  .css-10i04qz-MuiInputBase-root-MuiFilledInput-root:after,
  .css-10i04qz-MuiInputBase-root-MuiFilledInput-root:hover:not(.Mui-disabled):before,
  .css-f6v4u4-MuiInputBase-root-MuiFilledInput-root:after {
    border-bottom: none;
  }

  .css-10botns-MuiInputBase-input-MuiFilledInput-input {
    padding-top: 8px;
  }
  .css-1gctnaj-MuiInputBase-input-MuiFilledInput-input {
    padding-top: 11px;
  }
}

div.input-form-text-area {
  .MuiOutlinedInput-root {
    border-radius: 30px;
    .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
      border: none;
      background-color: rgba(0, 0, 0, 0.06);
    }
  }
}

button.button-widthfull-second {
  background-color: $color-second;
  width: 100%;
  margin-top: 20px;
  border-radius: 30px;
  padding: 10px;
}

div.content-modal-basic {
  div.MuiBox-root {
    border-radius: 10px;
  }
}
