@import '../../../infraestructura/theme/colors.scss';

div.container-contact {
  padding: 50px 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  div.image-contact {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 70%;
    }
  }
}
